#imgReceptor {
  background-image: url("sources/roses.png");
  background-repeat: repeat;
  padding: 12px;
}

#countdown {
  background-image: url("sources/roses.png");
  text-shadow: 0px 0px 5px #000000;
  background-size: cover;
  background-position: center;
}

.counter {
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
  background-color: #212529;
  box-shadow: 0px 0px 5px #0508c6;
}
